/********************* FONTS STYLE **********************/

@font-face {
  font-family: "OpenSans-Bold";
  src: url("../fonts/OpenSans/OpenSans-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "OpenSans-Light";
  src: url("../fonts/OpenSans/OpenSans-Light.ttf") format("truetype");
}

@font-face {
  font-family: "OpenSans-Regular";
  src: url("../fonts/OpenSans/OpenSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "OpenSans-SemiBold";
  src: url("../fonts/OpenSans/OpenSans-SemiBold.ttf") format("truetype");
}

.font-family-bold {
  font-family: "OpenSans-Bold", sans-serif;
}

.font-family-light {
  font-family: "OpenSans-Light", sans-serif;
}

.font-family-regular {
  font-family: "OpenSans-Regular", sans-serif;
}

.font-family-semi-bold {
  font-family: "OpenSans-SemiBold", sans-serif;
}

/******************** COLORS STYLE ***********************/

$color-bg: #F1F1F1;
$color-icon: #828282;
$color-purple: #5A077D;
$color-green: #0CCA58;
$color-purple-2: #9C6AB1;

/********************** ICONS STYLE ********************/

.icon {
  width: 15px;
  height: 15px;
  display: inline-block;
  vertical-align: sub;

  mask-repeat: no-repeat;
  mask-size: 100%;

  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: 100%;

  background-color: $color-icon;

  &.icon-heart {
    mask-image: url("../icons/heart.svg");
    -webkit-mask-image: url("../icons/heart.svg");
  }

  &.icon-search {
    mask-image: url("../icons/search.svg");
    -webkit-mask-image: url("../icons/search.svg");
  }

  &.icon-basket {
    mask-image: url("../icons/shopping-cart.svg");
    -webkit-mask-image: url("../icons/shopping-cart.svg");
  }
  &.icon-view {
    mask-image: url("../icons/eye.svg");
    -webkit-mask-image: url("../icons/eye.svg");
  }
  &.icon-download {
    mask-image: url("../icons/download.svg");
    -webkit-mask-image: url("../icons/download.svg");
  }
  &.icon-email {
    mask-image: url("../icons/mail.svg");
    -webkit-mask-image: url("../icons/mail.svg");
  }
  &.icon-phone {
    mask-image: url("../icons/phone.svg");
    -webkit-mask-image: url("../icons/phone.svg");
  }
  &.icon-location {
    mask-image: url("../icons/map-pin.svg");
    -webkit-mask-image: url("../icons/map-pin.svg");
  }
  &.icon-play{
    mask-image: url("../icons/media-play-symbol.svg");
    -webkit-mask-image: url("../icons/media-play-symbol.svg");
  }

  &.icon-purple {
    background-color: $color-purple;
  }

  &.icon-green {
    background-color: $color-green;
  }

}

/**************** MAIN STYLE ****************/

body {
  background-color: $color-bg;

  .navbar {
    .navbar-brand {
      p {
        font-size: 12px;
      }
    }
    .input-group {
      width: 340px;
      margin-left: 80px;

      input, button {
        background-color: $color-bg;
      }
    }
  }

  header {
    .carousel {
      .carousel-item {
        .carousel-layer {
          position: absolute;
          left: 0;
          top: 0;
          right: 0;
          bottom: 0;

          background-color: rgba(90, 7, 125, 0.5);
          //opacity: 0.5;

          h3 {
            margin-right: 10%;
            font-size: 2vw;
            //  vh - ekranni heightini foizi
          }
        }
      }
      .carousel-indicators {
        li {
          width: 10px;
          height: 10px;
          border-radius: 50%;
          background-color: transparent;
          border: 2px solid #fff;
          opacity: 1;

          &.active {
            background-color: #ffffff;
            border: none;
            width: 14px;
            height: 14px;
          }
        }

      }
    }
  }

  main {
    section {
      &#videos {

        .nav {
          .nav-item {
            .nav-link {
              color: $color-icon;
              position: relative;

              &:after {
                content: '';
                width: 0;
                height: 2px;
                background-color: $color-purple;
                position: absolute;
                bottom: 0;
                left: 0;

                transition: all 0.5s linear;

              }

              &:hover, &.active {
                color: #000000;
                &:after {
                  width: 100%;
                }
              }

            }
          }
        }

        .card {
          a {
            right: 10px;
            top: 5px;
          }

          .row{
            font-size: 12px;
            color: $color-icon;

            .free{
              color: $color-green;
            }
            .cost{
              color: $color-purple;
            }
          }
        }

      }
      &#audios{

      }

      &#info{
        background: {
          image: url("../images/bg_1.png");
          size: 100% 100%;
          repeat: no-repeat;
        }

        padding: 150px 0;

        p{
          font-size: 12px;
        }
      }

      &#free-audio{
        .card{
          .col-sm-9{
            padding-right: 30px;

            p{
              font-size: 11px;
              color: $color-icon;
            }

            .position-absolute{
              right: 26px;
              top: 5px;
            }

            .progress{
              height: 6px;
              background-color: transparent;
              border: 1px solid $color-bg;
              overflow: visible;
              position: relative;

              .progress-bar{
                background-color: $color-purple-2;
                border-radius: 10px;
              }

              button{
                width: 35px;
                height: 35px;
                background-color: $color-purple;
                border-radius: 50%;
                position: absolute;
                left: 0;
                top: -16px;
                padding: 0;
                display: flex;
                align-items: center;
                justify-content: center;
              }
            }

            .d-flex{
              font-size: 11px;
              color: $color-icon;

              .icon{
                width: 13px;
                height: 13px;
              }
              button{
                background-color: $color-purple;
                color: #ffffff;
                font-size: 11px;
                padding: 3px 15px;
                border-radius: 7px;
              }
            }
          }
        }
      }
    }
  }
}



//.box{
//  width: 100%;
//  height: 100px;
//
//  //background-color: red;
//
//  //background-image: linear-gradient(40deg, red 50%, green 75%, blue 100%);
////  to right bottom
//
//  background-image: radial-gradient(red, green, blue);
//}


/************** MEDIA QUERIES *************/

html{
  font-size: 13px;
}


@media (max-width: 1050px){
  body{
    .navbar{
      .input-group{
        margin-left: 30px;
      }
    }
  }
}

@media (max-width: 991px){
  body{
    .navbar{
      .input-group{
        width: 100%;
        margin-left: 0;
        margin-top: 15px;
        margin-bottom: 15px;
      }
    }
  }
}

@media (max-width: 700px){
  body{
    header{
      .carousel{
        .carousel-indicators{
          margin-bottom: 5px;

          li{
            width: 6px;
            height: 6px;

            &.active{
              width: 10px;
              height: 10px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 576px) {
  body{
    main{
      section{
        &#free-audio{
          .card{
            img{
              height: 200px;
              object-fit: contain;
            }
            .col-sm-9{
              padding-left: 30px;
              position: static;
              height: 160px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 480px) {
  body{
    .navbar{
      .navbar-brand{
        img{
          width: 60px;
        }
        h5{
          font-size: 10px;
        }
        p{
          font-size: 8px;
        }
      }
    }
  }
}